body {
    background: rgb(65, 65, 119);
    color: white;
    font-family: sans-serif;
}

header {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 90%;
    margin-bottom: 5px;
}

.form-group {
    width:100%;
    color: black;
    padding: 15px;
    display: block;
}

fieldset {
    border: none;
}

main {
    background-color: #f6f7f8;
    color: #010203;
    width: 50%;
    margin-inline: auto;
    border-radius: 6px;
    box-shadow: 0px 0px 5px #f6f7f8;
    margin-top: 35px;
}


.option {
    display: flex;
    align-items: center;
    overflow: hidden;

}

input[type="radio"] {
    width: 20px; 
    height: 20px; 
}

#main-hr {
    width: 89%;
}

legend {
    margin-bottom: 10px;
}

img {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

input[type="submit"] {
    width: 50%; 
    height: 40px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    font-weight: bold;
    background: rgb(65, 65, 119);
    color: white;
    border-radius: 10px;
    border: none;
    
}


input[type="submit"]:hover {
    width: 50%; 
    height: 40px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    font-weight: bold;
    background: rgb(75, 75, 130);
    color: white;
    border-radius: 10px;
    border: none;
}



input[type="submit"]:active {
    width: 50%; 
    height: 40px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    font-weight: bold;
    background: rgb(80, 80, 117);
    color: white;
    border-radius: 10px;
    border: none;
}

input[type="checkbox"] {
    width: 15px; 
    height: 20px; 
    margin-right: 5px; /* Option 1 */
  }

p{
    margin-top: 25px;
    font-size: 12px;
    text-align: center;
}
